<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

<!-- web.xml이란 : 웹 어플리케이션에 대한 여러가지 설정을 할 수 있는 파일 -->

	<display-name>Model2JSP_Mine</display-name>
	<!-- display-name : web.xml 파일 title 설정. 기본적으로 프로젝트명으로 설정 -->
	
	<welcome-file-list>
	<!-- 클라이언트 사용자가 웹 브라우저로 웹 서버에 접속할때 기본적으로 보여주는 메인 페이지 등록 -->
	
	  <welcome-file>index.html</welcome-file>
	  <welcome-file>index.htm</welcome-file>
	  <!-- 
	  	   htm, html 차이 : 없다. 기술적으로 차이 없는 아예 동일한 포맷. 예전 관습과 호환성을 위해 쓴다.
	                유일한 차이점은 4개 확장자 이름 타입을 허용하지 않는 소수 서버에 의해 html대신 사용되고 있다는 점이다
	   -->
	  <welcome-file>index.jsp</welcome-file>
	  <welcome-file>default.html</welcome-file>
	  <welcome-file>default.htm</welcome-file>
	  <welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- 배포서술자 : 해당프로젝트에 페이지 요청시 가장 먼저 체크하는 페이지 -->

	<servlet>
	<!-- 서블릿을 웹 컨테이너에 등록하는것. 여러개 등록 가능 -->
	
	  <servlet-name>MemberFrontController</servlet-name>
	  <!-- 서블릿 닉네임 등록. 닉네임은 클래스 이름 너무 길때 편의상 사용. 클래스 이름 짧으면 클래스 이름과 동일하게 등록해도 무방 -->
	  
	  <servlet-class>net.member.action.MemberFrontController</servlet-class>
	  <!-- 서블릿이 실행될때 초기값으로 전달될 매개변수 적는것. 여러개 등록해도 무방 -->
	  
	</servlet>

	<servlet-mapping>
	<!-- 앞서 등록한 서블릿을 웹 브라우저에서 호출하면서 사용하면서 사용하는 이름을 등록하는 코드 -->
	
	  <servlet-name>MemberFrontController</servlet-name>
	  <url-pattern>*.me</url-pattern>
	  <!-- 실행 시점을 지정. *.me 로 지정하면, URL me로 끝나면 해당 서블릿이 실행 -->
	  
	</servlet-mapping>

	
	<!-- DB 연결정보 -->
	
	<resource-ref>
	  <description>model2jspdb</description>
	  <res-ref-name>jdbc/model2jspdb</res-ref-name>
	  <res-type>javax.sql.DataSource</res-type>
	  <res-auth>Container</res-auth>
	</resource-ref>


</web-app>